<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header ::scripts"></head>
<body style="font-family:lucida handwriting" > 
   <div class="container">
   <div th:include="fragments/header::header" class="text-center"></div>

        <div class="row">
          <div class="row text-center"><small >Total Users Registered !</small></div>
         <table class="table">
        <tr class="info">
         	<th>Id</th><th>Name</th><th>Gender</th><th>Email/Username</th><th>Mobile</th>
         </tr>
         <tbody th:each="user : ${users}">
            <tr class="success"><td th:utext="${user.id}"></td> <td><span th:utext="${user.firstName}"></span> <span th:utext="${user.lastName}"></span></td>
          <td th:utext="${user.gender}"></td><td th:utext="${user.email}"></td><td th:utext="'+91-'+${user.mobNo}"></td>
          	</tr>
         </tbody>
         </table>
        </div>
   </div>
</body>
</html>