<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

 <head th:replace="fragments/header ::scripts"></head>

<body style="font-family:lucida handwriting" onload="document.f.username.focus();"> 
 	<div class="container text-center">
  
		   <div th:include="fragments/header::header" ></div>


<h3>Login with Username and Password</h3>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<form name="f" th:action="@{/login}" method="post" >

<div th:if="${param.sucess}">
	 <div class="alert alert-success">
	 	<a href="#" class="close" data-dismiss="alert" area-label="close">&times;</a>    
		 You are registered successfully, please login.      
     </div> 
</div> 
<div th:if="${param.logout}">
	 <div class="alert alert-success"> 
	 	<a href="#" class="close" data-dismiss="alert" area-label="close">&times;</a>
          You are successfully logged out.
     </div> 
</div>
							
 <div th:if="${param.error}">
     <div class="alert alert-danger">
          Invalid username and password !
     </div>
</div> 
<table>
	<tbody>
	<tr>
		<td>User:</td>
		<td><input name="username" value="" type="text" required placeholder=" username..."></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input name="password" type="password" required placeholder=" password..."></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center;"><input name="submit" value="Login" type="submit"></td>
	</tr>
	</tbody>
</table>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div>
</body>
</html>