
<head th:fragment="scripts">
  <title>Spring Boot Test Application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="include/bootstrap.min.css">
  <script src="include/jquery.min.js"></script>
  <script src="include/bootstrap.min.js"></script>
</head>

<div th:fragment="header">
	<div class="jumbotron text-center" style="height:150px;">
			<h2>SpringBoot Security demo application</h2>
	</div>
	<ul class="list-inline">
		<li><a href="/">Index</a></li>
        <li><a href="/home">Data</a></li> 
        <li><a href="/register">Sign Up</a></li> 
        <li><a href="/login">Login</a></li>
        <li><a href="/user/dashboard">Dashboard</a></li>
	</ul>

</div>



<head th:fragment="user_scripts">
  <title>Spring Boot Test Application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../include/bootstrap.min.css">
  <script src="../include/jquery.min.js"></script>
  <script src="../include/bootstrap.min.js"></script>
</head>

<div th:fragment="user_header">

<div class="jumbotron text-center" style="height:150px;">
<h2>SpringBoot Security demo application</h2>
</div>
<form  th:action="@{/logout}" method="post">				
	<input type ="submit" value ="Sign Out" class="btn btn-danger"/>
</form>

</div>

